body {
  text-align: center;
  font-size: 40px;
  color: white;
  padding-top: 100px;
  background-image: url(https://thumbs.dreamstime.com/b/campo-minato-miniere-esplosivi-bombe-fondo-87753649.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
